---
---
@charset "utf-8";
@import "variables";

body {
  background: url("homepage-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title {
  font-size: 400%;
  text-align: center;
}

.subtitle {
  font-family: "CooperBlack";
  color: white;
  font-size: 150%
}

.page-content a:hover > h5 {
  color: $shambles-red;
  text-decoration: none;
}
