---
---
@charset "utf-8";
@import "variables";

body {
  background-color: $comedysoc-red;
}

#title {
  font-size: 400%;
  text-align: center;
}

#logo {
  filter: drop-shadow(16px 16px 20px blue);
}

.subtitle {
  font-family: "CooperBlack";
  color: white;
  font-size: 150%
}

.page-content a:hover > h5 {
  color: $shambles-red;
  text-decoration: none;
}

.buzzwords {
  text-align: center;
}
