---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables";

.navbar-custom {
    background-color: white;
    color: $comedysoc-red;
    border-radius: 0 !important;
}

.navbar-custom .navbar-nav{
    background-color: white;
}

.navbar-custom .navbar-nav > li > a {
    color: $comedysoc-red;
    font-size: 150%;
}

.navbar-custom .navbar-brand {
  color: $comedysoc-red;
}

.navbar-toggle {
    color: $comedysoc-red;
}

.cooper {
    font-family: 'CooperBlack';
}

.footer {
    font-family: 'CooperBlack';
}

.red {
  color: $comedysoc-red;
}
