---
layout: page
title: Schedule
permalink: /schedule/
css: schedule.css
---
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table">
        <tr class="red">
          <th>Show</th>
          <th>Date</th>
          <th>Time</th>
          <th>Description</th>
        </tr>

        {% for show in site.data.schedule %}
          {% if show.datetime >= site.time %}
            <tr>
              <td>{{ show.title }}</td>
              <td>{{ show.datetime | date_to_string }}</td>
              <td>{{ show.datetime | date: "%H:%M" }}</td>
              <td>{{ show.description }}</td>
            </tr>
          {% endif %}
      {% endfor %}

      </table>
    </div>
  </div>
</div>
